.header {
  background-color: #f3f3f3;
  display: flex;
  align-items: center;
  height: 10vh;
  font-size: 18px;

  .logo {
    width: 20%;
    color: green;
    text-align: center;
    img {
      width: 60px;
    }
  }

  .menu {
    width: 60%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    transition: 0.3s ease all;

    .link {
      display: flex;
      text-decoration: none;
      color: black;
      align-items: center;
      transition: 0.3s ease all;
    }

    .link.active {
      padding-bottom: 10px;
      color: #e7a95b;
      border-bottom: 2px solid #e7a95b;
    }

    .link:hover {
      cursor: pointer;
      padding-bottom: 10px;
      border-bottom: 2px solid #e7a95b;
      transition: 0.3s ease;
    }
  }

  .card {
    width: 20%;
    text-align: center;

    img {
      transition: 0.3s ease all;
    }

    img:hover {
      cursor: pointer;
      color: #e7a95b;
      border-left: 2px solid #e7a95b;
      transition: 0.3s ease all;
      padding-left: 10px;
    }

    .activeCart {
      color: #e7a95b;
      border-left: 2px solid #e7a95b;
      padding-left: 10px;
    }
  }
}