.main {
  height: 90vh;
}

.catalog_wrap {
  display: flex;
}

.catalog_filters {
  background-color: #f3f3f3;
  width: 20%;
  font-size: 18px;

  ul {
    margin-top: 50px;
    padding: 0;
  }

  li {
    padding: 14px;
    list-style: none;
    transition: 0.3s ease all;

    &.active {
      padding-left: 20px;
      background: #e7a95b;
    }

    &:hover {
      cursor: pointer;
      padding-left: 25px;
      background: #e7a95b;
      transition: 0.3s ease;
    }
  }
}

.catalog_products {
  height: 100vh;
  overflow-y: scroll;
  padding: 40px;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cart_wrapper {
  margin: 50px 100px 50px 100px;
  text-align: center;
}

.info_wrapper {
  margin: 50px 100px 50px 100px;
  display: flex;

  .info_image {
    img {
      width: 500px;
    }
  }

  .info_data {
    font-size: 20px;

    .info_data-desc {
      font-size: 14px;
    }

    button {
      margin-top: 10px;
      padding: 10px;
      width: 100%;
      font-size: 16px;
      border: none;
      background: #7a7676;
      transition: 0.3s ease all;

      &:hover {
        background: #e7a95b;
        transition: 0.3s ease all;
      }
    }
  }
}

